#pygame==1.9.4
pyserial>=3.4,<4
json-rpc>=1.12.1,<2
Werkzeug==2.0.0
configparser>=3.7.1,<4
python-daemon>=2.2.3,<3
requests>=2.21.0,<3
markdown>=3.0.1,<4
pyperclip>=1.7.0,<2
bleak
PyQt5>=5.14.0
PyQt5.sip>=12.7.0
pynput